@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #550e52;
  justify-content: space-around;
  color: #ffffff;
  padding: 15px 60px;
}

.navbar__header {
  font-size: 26px;
}

.navbar__userData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}

.navbar__userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
}

.signedIn {
  font-size: 18px;
  font-weight: 600;
}

.login__button {
  height: 30px;
  padding: 5px;
  font-weight: 600;
}

.logout__button {
  height: 30px;
  padding: 5px;
  font-weight: 600;
}

.blog__search input {
  width: 80%;
  padding: 5px 30px;
  padding-left: 30px;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  color: #ffffff;
}
.blog__search input ::placeholder {
  color: #ffffff;
}

.blog__search {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  margin: 0px 70px;
  justify-content: space-between;
  background: #8d478a;
  border-radius: 5px;
}

.blog__search button {
  width: 20%;
  height: 35px;
  border: none;
  background-color: #550e52;
  font-size: 15px;
  color: #ffffff;
  margin: 0 10px;
}

.navbar__user {
  border: solid 1px #aa71a7;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18rem;
  margin: 1rem;
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  text-decoration: none;
}
.blog__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 50px;
  padding: 40px 0;
}

.blog img {
  background-size: cover;
  width: 100%;
}

.blog__img__container {
  background-size: cover;
}

.blog__content {
  padding: 15px;
  color: #000000;
}
